.modal-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5); /*opacidade aplicada na tela qdo o modal esta aberto*/;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    font-family: Poppins;
    width: 50%;
    height: 200px;
    max-width: 500px;
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
}

.modal-content {
    font-size: 24px;
    text-align: center;
}

.button_one-text, .modal button {
    font-size: medium;
    font-weight: 700;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(97, 97, 255);
    color: white;
    cursor: pointer;
}

.modal-active {
    display: flex;
}

@media  screen and (max-width: 768px) {
    .modal-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.5); /*opacidade aplicada na tela qdo o modal esta aberto*/;
        display: none;
        align-items: center;
        justify-content: center;
    }
    
    .modal {
        font-family: Poppins;
        width: 50%;
        height: 150px;
        max-width: 500px;
        background-color: white;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 24px;
    }
    
    .modal-content {
        font-size: small;
        text-align: center;
    }
    
    .button_one-text, .modal button {

        font-size: small;
        font-weight: 700;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: rgb(97, 97, 255);
        color: white;
        cursor: pointer;
    }
    
    .modal-active {
        display: flex;
    }
}