@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Open+Sans:wght@400;700&display=swap');


:root {
    --dark: #333;
    --black: #000000;
    --white: #FFF;
    --yellow: #EBE54D;
    --blue: #43519d;
    --gray: #666666;
    --background: #F1F1F1;
    --tabela: #29315E;
    --formulario: #30373E;
    --button: #845EF7;
    --sobre-vantagens: #FAFAFA;
    --border-sobre: #D3D7DB;
    --enviar: #ADB5BD;
    --alt-font: 'montserrat', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'open sans', 'sans-serif';
    background-color: var(--white);
    color: var(--dark);
    font-size: 30px;
}

header {
    background-color: rgba(248, 245, 255, 1);
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 10px 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    gap: 16px;
    font-size: 20px;
}

.logo {
    width: 85px;
    margin-left: 75px;
}

.search {
    margin-right: 75px;
}
  
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.nav-list li {
    margin-right: 20px;
}
  
.nav-list li:last-child {
    margin-right: 0;
}
  
.nav-list a {
    color: var(--white);
    text-decoration: none;
}

/* Seção Projetos de alta complexidade */
.title-projects {
    margin-top: 150px; /*margem superior em relação á imagem*/
    margin-left: 155px; /*margem lateral em relação á imagem*/
    position: absolute;
    font-family: var(--alt-font);
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    width: 837px;
    height: 172px;
}
.projects__item__text {
    padding-top: 48px;
    margin-top: 296px; 
    margin-left: 155px;
    position: absolute;
    font-size: 24px;
    width: 680px;
    height: 93px;
    font-weight: 700;
    font-family: open sans;
}

.button-calculation {
    width: 205px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--button);
    border: 8px solid var(--button);
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    margin-top: 64px;
  }
  
  .button-calculation-text {
    font-family: var(--alt-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.img_project {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin-left: 75px;
    padding-top: 50px;
}

/* Seção Sobre nós */
.title {
    font-family: var(--alt-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-left: 75px;
    padding-top: 50px;
    line-height: 125%; /* 60px */
}

.about, .advantages {
    background-color: var(--sobre-vantagens);
    margin-top: 60px;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 75px;
}

.title_about {
    font-family: var(--alt-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 60px */
}
.about-text {
    width: 850px;
    font-family: open sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 19px;
}

.consultancy, .architect {
    width: 850px;
    height: 245px;
    display: flex;
    padding: 40px 60px;
    border-radius: 32px;
    border: 1px solid var(--border-sobre);
    margin-top: 33px;
    background: var(--white);
}

.container_item {
    display: flex;
    width: 720px;
}

.img {
    width: 190px;
    height: 165px;
    
}

.consultancy_img {
    width: 119px;
    height: 132px;
    margin-left: 50px;

}

.architect_img {
    width: 190px;
}

.about_text {
    width: 480px;
    height: 135px;
    margin-left: 50px;
}

h3 {
    font-size: 24px;
    font-family: open sans;
    font-weight: 700;
}

.architect_text, .consultancy_text {
    display: flex;
    width: 450px;
    height: 92px;
    font-size: 17px;
    font-weight: 400;
    font-family: open sans;
    line-height: 180%;
    margin-top: 6px;
}

.more {
    margin-top: 70px;
}

.container_more {
    width: 868px;
    height: 245px;
    position: absolute;
    padding: 72px 50px 77px;
    background-color: var(--white);
    border-radius: 32px;
    margin-top: 513px;
    border: 1px solid var(--border-sobre);
}

.more_img {
    width: 868px;
    height: 680px;
    flex-shrink: 0;
    border-radius: px;
}

.more_text {
    position: absolute;
    font-family: open sans;
    line-height: 180%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    width: 478px;
    height: 96px;
} 

.more_item {
    display: flex;
    width: 768px;
    height: 96px;
    align-items: center;
}

.button-more {
    width: 106px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border: 1px solid var(--button);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 660px;
}
  
.button-more-text {
    font-family: var(--alt-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--button);
}

/* Seção Como trabalhamos */
.container_how {
    width: 758px;
    height: 425px;
    display: flex;
    margin-top: 39px;
    margin-left: 75px;
}

.how_text {
    width: 758px;
    height: 288px;
}

.text_how {
    display: flex;
    width: 758px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: open sans;
    line-height: 180%;
    margin-top: 6px;
}

.button_one {
    width: 106px;
    height: 58px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--button);
    border: 8px solid var(--button);
    border-radius: 12px;
    cursor: pointer;
    margin-top: 35px;
}
  
.button_one-text {
    font-family: var(--alt-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.button_two {
    width: 187px;
    height: 56px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border: 1px solid var(--button);
    border-radius: 12px;
    margin-left: 40px;
    cursor: pointer;
}
  
.button_two-text {
    font-family: var(--alt-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--button);
}

.img_how {
    width: 868px;
    height: 427px;
    margin-left: 144px;
}
/* Seção Vantagens */
.advantages {
    height: 743px;
}

    .globo {grid-area: globo }
    .prancheta {grid-area: prancheta }
    .horario {grid-area: horario }
    .locais {grid-area: locais }
    .aviao {grid-area: aviao }
    .check {grid-area: check }
    .destinos {grid-area: destinos }


    .cards {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "globo globo prancheta horario"
        "locais aviao aviao check"
        "destinos destinos destinos check"
        ;
        gap: 24px ;
    }
    .cards {
        background-color: var(--sobre-vantagens);
        height: 650px;
        padding: 50px 75px;
    }


.cards__item {
    display: flex;
    background-color: var(--white);
    align-items: flex-start;
    padding: 40px;
    border-radius: 32px;
    border: 1px solid var(--border-sobre);
}

.cards__item img {
    width: 64px;
    height: 63px;
    margin-right: 24px;
} 

.cards__item p {
    display: flex;
    font-family: open sans;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 180%;
    letter-spacing: 0.18px;
}

/* Seção Serviços */
    .servico1 {grid-area: servico1 }
    .servico2 {grid-area: servico2 }
    .servico3 {grid-area: servico3 }
    .servico4 {grid-area: servico4 }
    .servico5 {grid-area: servico5 }
    .servico6 {grid-area: servico6 }


.services_container {
    width: 1760px;
    height: 740px;
    display: grid;
    margin-left: 75px;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "servico1 servico2 servico3"
    "servico4 servico5 servico6";
    gap: 13px;
    margin-top: 39px;
}

.services_container_item1 {
    width: 573px;
    height: 330px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--sobre-vantagens);
}

.services_description_one {
    width: 394px;
    height: 64px;
    display: flex;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.16px;
    margin-top: 11.5px;
}

.services_container_item {
    width: 573px;
    height: 330px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--sobre-vantagens);
}

.services_description {
    width: 394px;
    height: 96px;
    display: flex;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.16px;
    margin-top: 11.5px;
}

.container_services {
    margin-top: 26px;
}

.card__services {
    width: 483px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.img_services {
    width: 573px;
    height: 165px;
    border-top-left-radius: 12px;
    border-top-right-radius:  12px;
}

.service {
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.2px;
    letter-spacing: 0.24px;
    color: var(--button);
}

.arrow {
    width: 30px;
    height: 30px;
}

footer {
    background-color: var(--sobre-vantagens);
    width: 100%;
    height: 855px;
    margin-top: 100px;
}

.footer_item {
    background-color: var(--black);
    height: 660px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 0px 75px;
}

.information {
    width: 180px;
    height: 404px;
    margin-top: 50px;
}

.information_logo {
    width: 106px;
    height: 58px;
}

.logo_footer {
    width: 106px;
    height: 58px;
}

.institutional, .link {
    width: 180px;
    height: 182px;
    margin-top: 24px;
    font-family: var(--alt-font);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--white);

}

.link1 {
    color: var(--button);
}

ul {
    list-style-type: none;
}

.social-icon {
    margin-top: 80px;
    display: flex;
    gap: 24px;
    width: 144px;
    height: 60px;
}

.icon {
    width: 60px;
    height: 60px;
}

.send {
    width: 570px;
    height: 90%;
    margin-top: 50px;
    margin-left: 300px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.title_send {
    width: 469px;
    height: 60px;
    font-family: var(--alt-font);
    color: var(--white);
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

input {
    width: 570px;
    height: 60px;
    border: none;
    font-size: 16px;
    border-radius: 16px;
    background-color: var(--formulario);
    color: var(--enviar);
    padding: 24px;
    margin-bottom: 23px;
}

::placeholder  {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.16px;
    color: var(--enviar);
}

select {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.16px;
    background-color: var(--formulario);
    color: var(--enviar);
    width: 570px;
    height: 60px;
    margin-bottom: 23px;
    border-radius: 16px;
    border: none;
    padding-left: 24px;
}

.button_conclude {
    width: 143px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--button);
    border: none;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
}
  
.button_conclude_text {
    font-family: var(--alt-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.conclude {
    width: 100%;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.choice {
    width: 400px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    width: 368px;
    height: 32px;
    flex-direction: row;
    justify-content: space-between;
    font-family: Open Sans;
    font-size: 14px;
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.14px;
}


input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 23px;
}

.text_footer {
    width: 519px;
    height: 192px;
    margin-top: 133px;
    font-family: Open Sans;
    font-size: 16px;
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 32px */
    letter-spacing: 0.16px;
}

  /* Estilos para tablet e dispositivos móveis */
@media  screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;

    }

    header {
        width: 320px;
        height: 52px;
    }

    .navbar {
        height: 5px;
        display: flex;
    }
    
    .logo {
        width: 52px;
        margin-left: 125px;
    }

    .search {
        cursor: pointer;
        margin: 0;
    }
    
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 15px;
      background-color: var(--white);
      width: 320px;
      z-index: 1;
    } 
  
    .nav-list.active {
      display: flex;
      position: absolute;
    }
  
    .nav-list li {
      margin-right: 0;
      margin-bottom: 16px;
    }
  
    .burger-menu {
      position: absolute;  
      display: block;
      cursor: pointer;
    }
  
    .burger-line {
      width: 25px;
      height: 3px;
      background-color: var(--black);
      margin: 5px;
    }

    /* Botão de fechar em forma de X */
    #burgerMenu.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    }

    #burgerMenu.active .burger-line:nth-child(2) {
    opacity: 0;
    }

    #burgerMenu.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Empurra o conteúdo principal para baixo ao abrir o burger menu */
    .content.active {
    transform: translateY(220px); /* Ajuste a altura conforme necessário */
    transition: transform 0.3s ease-in-out;
    }

    /* Seção Projetos de alta complexidade */
    .projects {
        position:-ms-page;
        width: 320px;
        height: 308px;
        margin-top: 15px;
    }
    
    .title-projects {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 24px;
        width: 260px;
        height: 58px;
    }

    .projects__item__text {
        padding-top: 1px;
        margin-top: 86px;
        font-size: 14px;
        margin-left: 30px;
        width: 201px;
        height: 100px;
    }
    .img_project {
        width: 290px;
        height: 308px;
        padding: 0;
        margin-left: 15px;
        border-radius: 24px;
    }

    .button-calculation {
        width: 174px;
        height: 44px;
        margin-top: 24px;
    }
    
    .button-calculation-text {
        font-family: var(--alt-font);
        font-size: 14px;
    }

    /* Seção Sobre nós */
    .title {
        font-family: var(--alt-font);
        width: 159px;
        font-size: 32px;
        margin-left: 15px;
    }

    .about, .advantages {
        background-color: var(--sobre-vantagens);
        margin-top: 24px;
    }

    .about {
        width: 320px;
        height: 1430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 15px;
    }

    .title_about {
        font-family: var(--alt-font);
        font-size: 32px;

    }
    .about-text {
        width: 290px;
        font-size: 14px;
        line-height: 180%; /* 25.2px */
        letter-spacing: 0.14px;
        margin-top: 0px;
    }

    .consultancy {
        margin-top: 400px;
    }

    .architect {
        margin-top: 16px;
    }

    .consultancy, .architect {
        width: 290px;
        height: 268px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 15px;
    }

    .container_item {
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 238px;
    }

    .img {
        width: 58px;
        height: 64px;
        margin-left: 15px;
        padding: 0px;
    }

    .consultancy_img {
        width: 58px;
        height: 64px;
    }

    .architect_img {
        width: 106px;
    }

    .about_text {
        margin-left: 0;
        margin-top: 16px;
    }
    .about_text h3{
        width: 260px;
        height: 50px;
    }

    h3 {
        font-size: 14px;
        padding-top: 16px;
        width: 290px;
    }

    .architect_text, .consultancy_text {
        width: 260px;
        height: 100px;
        font-size: 14px;
    }

    .more {
        width: 290px;
        height: 380px;
        margin-top: 450px;
        position: absolute;
    }

    .container_more {
        width: 290px;
        height: 225px;
        margin-top: 153px;
        padding: 16px 15px;
        border: 1px solid var(--border-sobre);
    }

    .more_img {
        width: 290px;
        height: 200px;
    }

    .more_text {
        font-size: 14px;
        width: 260px;
        height: 100px;
    }

    .more_item {
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 190px;
    }

    .button-more {
        width: 260px;
        height: 44px;
        cursor: pointer;
        margin-top: 120px;
        margin-left: 0px;   
    }
    
    .button-more-text {
        font-family: var(--alt-font);
        font-size: 18px;
        font-weight: 700;
        color: var(--button);
    }

    /* Seção Como trabalhamos */
    .Work {
        width: 385px;
        height: 775px;
    }

    br {
        display: none;
    }

    .container_how {
        width: 290px;
        height: 425px;
        display: flex;
        margin-top: 26px;
        margin-left: 15px;
    }

    .how_text {
        width: 758px;
        height: 288px;
        margin-top: 140px;
    }

    .text_how {
        width: 290px;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.14px;
        margin-top: 0px;
    }

    .button_one {
        width: 137px;
        height: 44px;
        cursor: pointer;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .button_two {
        width: 137px;
        height: 44px;
        margin-left: 8px;
        cursor: pointer;
    }

    .img_how {
        width: 290px;
        height: 140px;
        margin-left: 0px;
        position: absolute;
    }
    /* Seção Vantagens */
    .advantages {
        width: 320px;
        height: 1500px;
    }
        .globo {grid-area: globo }
        .prancheta {grid-area: prancheta }
        .horario {grid-area: horario }
        .locais {grid-area: locais }
        .aviao {grid-area: aviao }
        .check {grid-area: check }
        .destinos {grid-area: destinos }
        
        .cards {
            display: grid;
            grid-template-columns: 290px;
            grid-template-rows: 0.5fr 0.5fr 0.5fr;
            grid-template-areas: 
            "globo"
            "prancheta"
            "horario"
            "locais"
            "aviao"
            "check"
            "destinos"
            ;
            gap: 10px;
        }
        .cards {
            width: 320px;
            background-color: var(--sobre-vantagens);
            padding: 15px;
        }

    .cards__item {
        padding: 15px;
        border-radius: 16px;
    }

    .cards__item img {
        width: 39px;
        height: 39px;
        margin-right: 16px;
    } 

    .cards__item p {
        width: 264px;
        font-size: 14px;
    }

    /* Seção Serviços */
    .services {
        width: 320px;
        height: 1960px;
    }

        .servico1 {grid-area: servico1 }
        .servico2 {grid-area: servico2 }
        .servico3 {grid-area: servico3 }
        .servico4 {grid-area: servico4 }
        .servico5 {grid-area: servico5 }
        .servico6 {grid-area: servico6 }


    .services_container {
        width: 290px;
        display: grid;
        margin-left: 15px;
        grid-template-columns: 290px;
        grid-template-areas: 
        "servico1"
        "servico2"
        "servico3"
        "servico4"
        "servico5"
        "servico6"
        ;        
        gap: 13px;
        margin-top: 25px;
    }

    .services_container_item1 {
        width: 290px;
        height: 267px;
    }

    .services_description_one {
        width: 260px;
        height: 50px;
        font-size: 14px;
        margin-top: 7px;
    }

    .services_container_item {
        width: 290px;
        height: 310px;
    }

    .services_description {
        width: 260px;
        height: 100px;
        font-size: 14px;
        margin-top: 7px;
    }

    .container_services {
        margin-top: 15px;
    }
    
    .card__services {
        width: 260px;
        height: 32px;
    }

    .img_services {
        width: 290px;
        height: 148px;
        border-radius: 12px;
    }

    .service {
        width: 204px;
        height: 25px;
        font-size: 14px;
        padding: 0;
        color: var(--button);
    }

    .arrow {
        width: 32px;
        height: 32px;
    }

    footer {
        background-color: var(--sobre-vantagens);
        width: 320px;
        height: 1257px;
        margin-top: 0px;
    }

    .footer_item {
        background-color: var(--black);
        width: 320px;
        height: 1210px;
        padding: 0px 15px;
    }

    .information {
        width: 140px;
        height: 318px;
        margin-top: 865px;
    }

    .logo_footer {
        width: 106px;
        height: 58px;
    }

    .institutional, .link {
        width: 144px;
        height: 182px;
        margin-top: 0px;
        font-size: 14px;
    }

    .social-icon {
        margin-top: 32px;
        gap: 24px;
        width: 104px;
        height: 40px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .send {
        position: absolute;
        width: 290px;
        height: 432px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .title_send {
        width: 290px;
        height: 76px;
        font-size: 32px;
    }

    input {
        width: 290px;
        height: 52px;
        font-size: 14px;
        padding: 14px;
        margin-bottom: 16px;
    }

    ::placeholder  {
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.16px;
    }

    select {
        font-family: Open Sans;
        font-size: 14px;
        width: 290px;
        height: 52px;
        margin-bottom: 16px;
        padding-left: 11px;
    }

    .button_conclude {
        width: 290px;
        height: 44px;
        margin-top: 48px;
        border-radius: 8px;
        padding: 10px 13px;
    }
    
    .button_conclude_text {
        font-size: 14px;
        color: var(--white);
    }

    .conclude {
        width: 290px;
        height: 92px;
        flex-direction: column;
        margin-top: 5px;
    }

    .choice {
        width: 290px;
        height: 32px;
        display: flex;
        position: absolute;
    }

    label {
        width: 260px;
        height: 32px;
        font-size: 12px;
    }


    input[type=checkbox] {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-top: 17px;
    }

    .text_footer {
        position: absolute;
        width: 290px;
        height: 250px;
        margin-top: 563px;
        font-size: 14px;
    }
}